.react-chatbot-kit-chat-container {


    width: 80%;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: rgb(0 0 0 / 30%) 0px 12px 60px 5px;

}

.react-chatbot-kit-chat-inner-container {
    height: 100%;
    background-color: #f8f9fa;
}

.react-chatbot-kit-chat-input-container {
    padding: 0;
}

.react-chatbot-kit-chat-message-container {
    height: 560px;
    padding: 0.5rem 1.1rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.react-chatbot-kit-chat-message-container::-webkit-scrollbar {
    display: none;
}

.react-chatbot-kit-chat-input {
    border: none;
    border-radius: 20px;
    padding: 1.3rem 1.2rem;
    margin-right: 0.5rem;
    font-weight: 300;
    background-color: #D3D3D3;

}

.react-chatbot-kit-chat-input:focus-visible {
    outline: none;
}


.react-chatbot-kit-chat-input-form {
    /*background-color: #ffffff;*/
    /*border: 1.4px solid #f2f2f2;*/
    background-color: #D3D3D3;
    border: 1.4px solid #D3D3D3;

}

.react-chatbot-kit-chat-input::placeholder {
    color: #000;
    font-weight: 300;
}

.react-chatbot-kit-chat-btn-send {
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 0.8rem;
    background-color: transparent;
}

.react-chatbot-kit-chat-bot-message-container {
    align-items: flex-end;
    margin: 1.2rem 0;
}