/** 전체 적용 **/
.App {
    text-align: center;
}

a {
    text-decoration: none;
    cursor:grab;
}

a:link {
    color: #000;
}

a:hover {
    color: #22BA8E;
}

a:active {
    color: #000;
}

a:visited {
    color: #000;
}

/** Main Home **/
.home {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
    /*background-color: #22BA8E;*/
    /*width: 100%;*/
    /*height: 1080px;*/

    background-color: #22BA8E;
    width: 100%;
    height: 1080px;
    
}

.home-header {
    padding: 1.6% 0 2% 0;
    background-color: #22BA8E;
}

.home-header .header-link {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: italic;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-header p {
    /* font-family: 'Noto Sans KR'; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #fff;
    margin: 0;
    padding: 0% 1.2% 0% 0%;
}

.home-content {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.home-container {
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 700px;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

.home-logo {

}

.home-logo img {
    width: 228px;
    height: 226px;
    margin-bottom: 2%;
}

.home-title {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: italic;
    font-size: 30px;
    color: #060606;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2%;
}

.home-sub {
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #060606;
    text-align: center;
    line-height: 36px;
}


/** Record 화면 **/
.record-title {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-size: 30px;
    color: #060606;
    text-align: left;
    font-weight: bold;
    margin-bottom: 2%;
}

.record-sub {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-size: 20px;
    color: #060606;
    text-align: left;
    margin-bottom: 2%;
}

.record-left{
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 20%;
    height: 80%;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

.record-right{
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 80%;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}


/** Record 화면 속 분석 요청 버튼**/
button{
    cursor: pointer;
    font: inherit;
    margin: 0;
    padding: 0;
}

.button{
    background-color: #7a87c7;
    color: #fff;
    border: 0;
    font-size: 1.5rem;
    font-weight: 200;
    padding: 0.5em 1.25em;
    border-radius: 0.5em;
    z-index: 999;
    position: relative;
    display: flex;
    gap: 0.5em;
    box-shadow:
      0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
      0px 4px 5.3px rgba(0, 0, 0, 0.028),
      0px 7.5px 10px rgba(0, 0, 0, 0.035),
      0px 13.4px 17.9px rgba(0, 0, 0, 0.042),
      0px 25.1px 33.4px rgba(0, 0, 0, 0.05),
      0px 60px 80px rgba(0, 0, 0, 0.07);
}

.button:active {
    transform: scale(1.01);
}




/**회원 정보 수정 Setting 페이지**/
.setting-parent{
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 700px;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

.setting-left{
    /* font-family: 'KyoboHand'; */
    font-size: 20px;
    flex: 1;
    float: left;
    flex-direction: column;

    border-right: 2px dashed #D7D7D7;
}
.setting-right{
    /* font-family: 'KyoboHand'; */
    font-size: 20px;
    text-align: left;
    flex: 1;
    float: left;
    flex-direction: column;
}


@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/** 피드 화면 **/
.feed-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.feed-container {
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;

    width: 80%;
    height: 700px;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

.diary-container {
    margin: 0%;
    padding: 0%;
}

.diary-title {
    text-align: left;
    padding : 0% 0% 0% 10%;
}

.data-container {
    box-sizing: border-box;
    border-bottom: 1px solid #D7D7D7;
    padding: 5% 0%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.data-image {
    flex: 1;
    float: left;
    flex-direction: column;
    padding: 0%;

}

.data-content {
    flex: 1;
    float: left;
    flex-direction: column;

}

.data-date {
    flex: 1;
    float: right;
    flex-direction: column;
    margin-right: 8%;
}

/** Calendar 화면 **/
.calendar-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calendar-container {
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;

    width: 80%;
    height: 700px;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calendar {
    width: 90%;
    height: 110%;
}
.calendar .header {
    width: 100%;
    height: 7%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.calendar .header .col.col-first {
    width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-left: 1%;
}
.calendar .header .col.col-first .text {
    font-size: 0.8em;
}
.calendar .header .col.col-first .text .text-month {
    margin-right: 5px;
    font-size: 1.6em;
    font-weight: 600;
}

.calendar .header .col.col-end {
    width: 20%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.calendar .header .col.col-end svg {
    width: 11%;
    height: fit-content;
    margin-left: 5%;
    color: rgba(128, 128, 128, 0.8);
}
.calendar .header .col.col-end svg:hover {
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    color: #686868;
}
.calendar .days {
    width: 100%;
    height: fit-content;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 0.65em;
    padding: 2px;
    color: #686868;
}
.calendar .days .col {
    width: 12.9%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 1%;
    background: rgba(235, 207, 198, 0.4);
    border-radius: 5px;
}
.calendar .body {
    width: 100%;
    height: 89%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.calendar .body .row {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.calendar .body .row .col {
    width: 13.5%;
    height: 93%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border: 0.4px solid rgba(128, 128, 128, 0.6);
    border-radius: 3px;
    font-size: 0.8em;
}
.calendar .body .row .col span {
    margin: 4px 0 0 4px;
}
.calendar .body .row .col .not-valid {
    color: #c4c4c4;
}
.calendar .body .row .col img {
    opacity: 0.1;
}
.calendar .body .row .col.cell.valid:hover {
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    box-shadow: 1.5px 1.5px 0px 0px rgba(104, 104, 104, 0.9);
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    border: none;
    background: rgba(196, 196, 196, 0.5);
}
.calendar .body .row .col.cell.selected {
    box-shadow: 1.5px 1.5px 0px 0px rgba(170, 91, 66, 0.9);
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    border: none;
    background: #f3c5b6;
    color: #aa5b42;
    font-weight: 600;
}


/** angry result **/
.result-angry {
    background-color: #E6808E;
    width: 100%;
    height: 1080px;
    
}

.result-angry-header {
    padding: 1.6% 0 2% 0;
    background-color: #E6808E;
}

.result-angry-header .result-angry-header-link {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: italic;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-angry-header p {
    /* font-family: 'Noto Sans KR'; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #fff;
    margin: 0;
    padding: 0% 1.2% 0% 0%;
}

.result-angry-content {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.result-angry-container {
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 700px;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

