/** 전체 적용 **/
.App {
    text-align: center;
}

a {
    text-decoration: none;
    cursor:grab;
}

a:link {
    color: #000;
}

a:hover {
    color: #22BA8E;
}

a:active {
    color: #000;
}

a:visited {
    color: #000;
}

/** Main Home **/
.home {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
    /*background-color: #22BA8E;*/
    /*width: 100%;*/
    /*height: 1080px;*/

    background-color: #22BA8E;
    width: 100%;
    height: 1080px;
    
}

.home-header {
    padding: 1.6% 0 2% 0;
    background-color: #22BA8E;
}

.home-header .header-link {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: italic;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-header p {
    /* font-family: 'Noto Sans KR'; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #fff;
    margin: 0;
    padding: 0% 1.2% 0% 0%;
}

.home-content {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.home-container {
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 700px;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

.home-logo {

}

.home-logo img {
    width: 228px;
    height: 226px;
    margin-bottom: 2%;
}

.home-title {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: italic;
    font-size: 30px;
    color: #060606;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2%;
}

.home-sub {
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #060606;
    text-align: center;
    line-height: 36px;
}


/** Record 화면 **/
.record-title {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-size: 30px;
    color: #060606;
    text-align: left;
    font-weight: bold;
    margin-bottom: 2%;
}

.record-sub {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-size: 20px;
    color: #060606;
    text-align: left;
    margin-bottom: 2%;
}

.record-left{
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 20%;
    height: 80%;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

.record-right{
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 80%;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}