/** 전체 적용 **/
.App {
    text-align: center;
}

a {
    text-decoration: none;
    cursor:grab;
}

a:link {
    color: #000;
}

a:hover {
    color: #22BA8E;
}

a:active {
    color: #000;
}

a:visited {
    color: #000;
}

button {
    background-color: #F9F9F9;
    display: inline-block;
    border: none;
    width: 25%;
}

/** Main Home **/
.home {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
    /*background-color: #22BA8E;*/
    /*width: 100%;*/
    /*height: 1080px;*/

    background-color: #22BA8E;
    width: 100%;
    height: 1080px;
    
}

.home-header {
    padding: 1.6% 0 1% 0;
    background-color: #22BA8E;
}

.home-header .header-link {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: italic;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-header p {
    /* font-family: 'Noto Sans KR'; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #fff;
    margin: 0;
    padding: 0% 1.2% 0% 0%;
}

.home-content {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.home-container {
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 700px;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

.home-logo {

}

.home-logo img {
    width: 228px;
    height: 226px;
    margin-bottom: 2%;
}

.home-title {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: italic;
    font-size: 30px;
    color: #060606;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2%;
}

.home-sub {
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #060606;
    text-align: center;
    line-height: 36px;
}


/** Record 화면 **/
.record-container {
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 900px;
    border-radius: 20px;
    /* padding: 8% 0% 10% 0; */
    margin: 0% 0% 3% 0%;
}

.record-title {
    /* font-family: 'Poppins'; */
    /* font-family: 'KyoboHand'; */
    font-style: normal;
    font-size: 25px;
    color: #060606;
    text-align: center;
    font-weight: bold;

    margin: 2% 2% 2% 2%;

}

.record-sub {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-size: 22px;
    color: #060606;
    text-align: center;

    margin: 2% 2% 2% 2%;
}

.record-sub-warn-content {
    /* font-family: 'Poppins'; */
    /* font-family: 'KyoboHand'; */
    /* font-style: normal; */
    font-size: 18px;
    color: #060606;
    text-align: left;

    margin: 2% 2% 2% 2%;
}
.record-sub-warn-title {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-size: 18px;
    color: #060606;
    text-align: center;

    margin: 2% 2% 2% 2%;
}

.record-left{

    display: flex;
    align-items: top;
    justify-content: top;
    width: 20%;

    padding: 5% 0% 5% 0;
    margin: 0% 0% 0% 2%;
/* 
    flex: 1; */
    float: top;
    flex-direction: column;
    

}

.record-right{
    /* box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* flex: 1; */
    float: left;
    flex-direction: column;
    
    width: 80%;
    /*
    height: 80%;
    border-radius: 20px;*/
    padding: 2% 0% 2% 0;
    margin: 5% 5% 5% 5%;
    border-left: 2px dashed #D7D7D7;
}

.record-status{

    float: center;

    margin: 0% 5% 0% 5%;

}

.button-status{

    float: center;

    margin: 2% 5% 0% 5%;


}

/** Record 화면 속 분석 요청 버튼**/
button{
    cursor: pointer;
    font: inherit;
    margin: 0;
    padding: 0;float: center;
}

.button{
    background-color: #7a87c7;
    color: #fff;
    border: 0;
    float: center;
    font-size: 1.5rem;
    font-weight: 200;
    padding: 0.5em 1.25em;
    border-radius: 0.5em;
    margin: 0% 2% 3% 2%;
    z-index: 999;
    position: relative;
    /* display: flex; */
    gap: 0.5em;
    box-shadow:
    0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
    0px 4px 5.3px rgba(0, 0, 0, 0.028),
    0px 7.5px 10px rgba(0, 0, 0, 0.035),
    0px 13.4px 17.9px rgba(0, 0, 0, 0.042),
    0px 25.1px 33.4px rgba(0, 0, 0, 0.05),
    0px 60px 80px rgba(0, 0, 0, 0.07);
    height: auto;
    width: auto;
}

.button:active {
    transform: scale(1.01);
}


.record-left-stt-box{
    font-size: 20px;
    background-color: #FFFFFF;
    /* flex: 1; */
    float: bottom;
    box-sizing: border-box;
    border: 1px solid #888787;
    flex-direction: row;
    margin: 2% 2% 2% 2%;
    width: 100%;
    height: 400px;
}

/**회원 정보 수정 Setting 페이지**/
.setting-parent{
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 700px;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

.setting-left{
    /* font-family: 'KyoboHand'; */
    font-size: 20px;
    flex: 1;
    float: left;
    flex-direction: column;

    border-right: 2px dashed #D7D7D7;
}
.setting-right{
    /* font-family: 'KyoboHand'; */
    font-size: 20px;
    text-align: left;
    flex: 1;
    float: left;
    flex-direction: column;
}

.login-parent{
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 700px;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

.login-top{
    font-family: 'KyoboHand';
    text-align: center;
    font-size: 30px;
    flex: 1;
    float: center;
    font-weight: bold;
    flex-direction: column;
    margin-bottom: 5%;

    /* border-right: 2px dashed #D7D7D7; */
}

.login-left{
    /* font-family: 'KyoboHand'; */
    font-size: 20px;
    flex: 1;
    float: left;
    flex-direction: column;

    /* border-right: 2px dashed #D7D7D7; */
}
.login-right{
    /* font-family: 'KyoboHand'; */
    font-size: 20px;
    text-align: left;
    flex: 1;
    float: left;
    flex-direction: column;
    border-left: 2px dashed #D7D7D7;
}

.login-center{
    /* font-family: 'KyoboHand'; */
    font-size: 20px;
    text-align: left;
    flex: 1;
    float: left;
    flex-direction: column;
    margin: 0 0 0 30%
}

.login-button-center{
    /* font-family: 'KyoboHand'; */
    font-size: 20px;
    text-align: center;
    flex: 1;
    float: center;
    flex-direction: column;
    margin: 0 0 0 0%
}


@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/** 피드 화면 **/
.feed-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #22BA8E;
}

.feed-container {
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    width: 80%;
    height: 900px;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

.diary-container {
    margin: 0%;
    padding: 0%;

}

.diary-title {
    text-align: left;
    padding : 0% 0% 0% 10%;
}


.data-container {
    box-sizing: border-box;
    border-bottom: 1px solid #D7D7D7;
    padding: 3% 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.data-image {
    flex: 1;
    float: left;
    flex-direction: column;
    padding: 0%;

}

.data-content {
    flex: 1;
    float: left;
    flex-direction: column;

}

.data-content-user-name {
    font-weight: bolder;
    line-height: 30px;
}

.data-date {
    flex: 1;
    float: right;
    flex-direction: column;
    margin-right: 1%;

}

/*.data-likes {*/
/*    padding: 0%;*/
/*}*/

/* button 상세보기 CSS */
button {
    margin: 20px;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn-16 {
    border: none;
    color: #000;
}
.btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
            -7px -7px 20px 0px #fff9,
            -4px -4px 5px 0px #fff9,
            7px 7px 20px 0px #0002,
            4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}
.btn-16:hover {
    color: #000;
}
.btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}
.btn-16:active {
    top: 2px;
}

/** Calendar 화면 **/
.calendar-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calendar-container {
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;

    width: 80%;
    height: 700px;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calendar {
    width: 60%;
    height: 60%;
    scale: 90%;

}
.calendar .header {
    width: 100%;
    height: 7%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.calendar .header .col.col-first {
    width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-left: 1%;
}
.calendar .header .col.col-first .text {
    font-size: 0.8em;
}
.calendar .header .col.col-first .text .text-month {
    margin-right: 5px;
    font-size: 1.6em;
    font-weight: 600;
}

.calendar .header .col.col-end {
    width: 20%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.calendar .header .col.col-end svg {
    width: 11%;
    height: fit-content;
    margin-left: 5%;
    color: rgba(128, 128, 128, 0.8);
}
.calendar .header .col.col-end svg:hover {
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    color: #686868;
}
.calendar .days {
    width: 100%;
    height: fit-content;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 0.65em;
    padding: 2px;
    color: #686868;
}
.calendar .days .col {
    width: 12.9%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 1%;
    background: rgba(235, 207, 198, 0.4);
    border-radius: 5px;
}
.calendar .body {
    width: 100%;
    height: 89%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.calendar .body .row {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.calendar .body .row .col {
    width: 13.5%;
    height: 93%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border: 0.4px solid rgba(128, 128, 128, 0.6);
    border-radius: 3px;
    font-size: 0.8em;
}
.calendar .body .row .col span {
    margin: 4px 0 0 4px;
}
.calendar .body .row .col .not-valid {
    color: #c4c4c4;
}
.calendar .body .row .col img {
    opacity: 0.1;
}
.calendar .body .row .col.cell.valid:hover {
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    box-shadow: 1.5px 1.5px 0px 0px rgba(104, 104, 104, 0.9);
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    border: none;
    background: rgba(196, 196, 196, 0.5);
}
.calendar .body .row .col.cell.selected {
    box-shadow: 1.5px 1.5px 0px 0px rgba(170, 91, 66, 0.9);
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    border: none;
    background: #f3c5b6;
    color: #aa5b42;
    font-weight: 600;
}


/** angry result **/
.result-angry {
    background-color: #E6808E;
    width: 100%;
    height: 1080px;
    
}

.result-angry-header {
    padding: 1.6% 0 2% 0;
    background-color: #E6808E;
}

.result-angry-header .result-angry-header-link {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: italic;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-angry-header p {
    /* font-family: 'Noto Sans KR'; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #fff;
    margin: 0;
    padding: 0% 1.2% 0% 0%;
}

.result-angry-content {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.result-angry-container {
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 700px;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

/** normal result **/
.result-normal {
    background-color: #CCE3E2;
    width: 100%;
    height: 1080px;
    
}

.result-normal-header {
    padding: 1.6% 0 2% 0;
    background-color: #CCE3E2;
}

.result-normal-header .result-normal-header-link {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: italic;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-normal-header p {
    /* font-family: 'Noto Sans KR'; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #fff;
    margin: 0;
    padding: 0% 1.2% 0% 0%;
}

.result-normal-content {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.result-normal-container {
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 700px;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

/** happy result **/
.result-happy {
    background-color: #FAE992;
    width: 100%;
    height: 1080px;
    
}

.result-happy-header {
    padding: 1.6% 0 2% 0;
    background-color: #FAE992;
}

.result-happy-header .result-happy-header-link {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: italic;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-happy-header p {
    /* font-family: 'Noto Sans KR'; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #fff;
    margin: 0;
    padding: 0% 1.2% 0% 0%;
}

.result-happy-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.result-happy-container {
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 700px;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

/** sad result **/
.result-sad {
    background-color: #91B1E3;
    width: 100%;
    height: 1080px;
    
}

.result-sad-header {
    padding: 1.6% 0 2% 0;
    background-color: #91B1E3;
}

.result-sad-header .result-sad-header-link {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: italic;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-sad-header p {
    /* font-family: 'Noto Sans KR'; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #fff;
    margin: 0;
    padding: 0% 1.2% 0% 0%;
}

.result-sad-content {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.result-sad-container {
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 700px;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}


/* ANGRY HOME 화면 */
.angry-home {

    background-color: #E6808E;
    width: 100%;
    height: 1080px;

}

.angry-home-header {
    padding: 1.6% 0 2% 0;
    background-color: #E6808E;
}

.angry-home-header .angry-header-link {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: italic;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.angry-home-header p {
    /* font-family: 'Noto Sans KR'; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #fff;
    margin: 0;
    padding: 0% 1.2% 0% 0%;
}
.angry-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E6808E;
}

.angry-container {
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    width: 80%;
    height: 900px;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

.angry-diary-container {
    margin: 0%;
    padding: 0%;
}

.angry-diary-title {
    text-align: left;
    padding : 0% 0% 0% 10%;
}


/* SAD HOME 화면 */
.sad-home {

    background-color: #91B1E3;
    width: 100%;
    height: 1080px;

}

.sad-home-header {
    padding: 1.6% 0 2% 0;
    background-color: #91B1E3;
}

.sad-home-header .sad-header-link {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: italic;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sad-home-header p {
    /* font-family: 'Noto Sans KR'; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #fff;
    margin: 0;
    padding: 0% 1.2% 0% 0%;
}
.sad-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #91B1E3;
}

.sad-container {
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    height: 900px;
    width: 80%;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

.sad-diary-container {
    margin: 0%;
    padding: 0%;
}

.sad-diary-title {
    text-align: left;
    padding : 0% 0% 0% 10%;
}


/* NORMAL HOME 화면 */
.normal-home {

    background-color: #CCE3E2;
    width: 100%;
    height: 1080px;

}

.normal-home-header {
    padding: 1.6% 0 2% 0;
    background-color: #CCE3E2;
}

.normal-home-header .normal-header-link {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: italic;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.normal-home-header p {
    /* font-family: 'Noto Sans KR'; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #fff;
    margin: 0;
    padding: 0% 1.2% 0% 0%;
}
.normal-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #CCE3E2;
}

.normal-container {
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    height: 900px;
    width: 80%;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

.normal-diary-container {
    margin: 0%;
    padding: 0%;
}

.normal-diary-title {
    text-align: left;
    padding : 0% 0% 0% 10%;
}


/* HAPPY HOME 화면 */
.happy-home {

    background-color: #FAE992;
    width: 100%;
    height: 1080px;

}

.happy-home-header {
    padding: 1.6% 0 2% 0;
    background-color: #FAE992;
}

.happy-home-header .happy-header-link {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: italic;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.happy-home-header p {
    /* font-family: 'Noto Sans KR'; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #fff;
    margin: 0;
    padding: 0% 1.2% 0% 0%;
}
.happy-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FAE992;
}

.happy-container {
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;

    width: 80%;
    height: 900px;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

.happy-diary-container {
    margin: 0%;
    padding: 0%;
}

.happy-diary-title {
    text-align: left;
    padding : 0% 0% 0% 10%;
}

/*분석결과 css */

.result-container {
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 700px;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

.result-container-left{
    font-size: 20px;
    flex: 1;
    float: left;
    flex-direction: column;
    border-right: 2px dashed #D7D7D7;
    margin: 10% 5% 10% 5%;
}

.result-container-left-row{
    /* font-family: 'KyoboHand'; */
    font-size: 20px;
    flex: 1;
    float: center;
    flex-direction: row;
    margin: 10% 0% 10% 0%;
}

.result-container-left-row-first{
    /* font-family: 'KyoboHand'; */
    font-size: 20px;
    flex: 1;
    float: top;
    flex-direction: row;
    margin: 0% 0% 22% 0%;
}

.result-container-left-row-first-left{
    /* font-family: 'KyoboHand'; */
    font-size: 30px;
    flex: 1;
    font-weight: bold;
    float: left;
    flex-direction: column;
    margin: 9% 10% 0% 10%;
}

.result-container-left-row-first-right{
    /* font-family: 'KyoboHand'; */
    flex: 1;
    float: right;
    flex-direction: column;
    margin: 3% 10% 0% 0%;
}

.result-container-left-row-second{
    font-family: 'KyoboHand';
    font-size: 25px;
    flex: 1;
    float: center;
    border: 2px dashed #000;
    flex-direction: row;
    margin: 30% 10% 0% 10%;
}

.result-container-left-row-third{
    /* font-family: 'KyoboHand'; */
    font-size: 20px;
    background-color: #FFFFFF;
    flex: 1;
    float: bottom;
    box-sizing: border-box;
    border: 1px solid #888787;
    flex-direction: row;
    margin: 5% 10% 0% 10%;
}

.result-container-left-row-third-first{
    /* font-family: 'KyoboHand'; */
    font-size: 20px;
    font-weight: bold;
    flex: 1;
    float: center;
    flex-direction: row;
    margin: 2% 0% 1% 0%;
}

.result-container-left-row-third-second-feel{
    /* font-family: 'KyoboHand'; */
    font-size: 15px;
    flex: 1;
    float: left;
    font-weight: bold;
    flex-direction: column;
    margin: 2% 0% 5% 50px;
}
.result-container-left-row-third-second-bar{
    /* font-family: 'KyoboHand'; */
    flex: 1;
    float: center;
    flex-direction: column;
    margin: 2% 0% 5% 0%;
}
.result-container-left-row-third-second-percent{
    /* font-family: 'KyoboHand'; */
    font-size: 15px;
    flex: 1;
    font-weight: bold;
    float: right;
    flex-direction: column;
    margin: 2% 50px 5% 0%;
}

.result-container-left-row-third-name{
    /* font-family: 'KyoboHand'; */
    font-size: 15px;
    flex: 1;
    float: center;
    flex-direction: row;
    margin: 1% 0% 1% 2%;
}

.result-container-left-row-third-face{
    /* font-family: 'KyoboHand'; */
    font-size: 15px;
    flex: 1;
    float: center;
    flex-direction: row;
    margin: 1% 0% 1% 2%;
}

.result-container-left-row-third-voice{
    /* font-family: 'KyoboHand'; */
    font-size: 15px;
    flex: 1;
    float: center;
    flex-direction: row;
    margin: 1% 0% 1% 2%;
}

.result-container-right{
    /* font-family: 'KyoboHand'; */
    font-size: 20px;
    flex: 1;
    float: left;
    flex-direction: column;

    margin: 5% 5% 5% 0%;
}

.result-container-right-row{
    /* font-family: 'KyoboHand'; */
    font-size: 20px;
    flex: 1;
    float: center;
    flex-direction: row;
    margin: 0% 0% 10% 0%;
}

.result-container-right-row-first{
    /* font-family: 'KyoboHand'; */
    font-size: 30px;
    flex: 1;
    float: left;
    font-weight: bold;
    font-display: left;
    text-align: left;
    /* direction: row; */
    width: 100%;
    flex-direction: row;
    margin: 5% 5% 0% 5%;
}

.result-container-right-row-second{
    /* font-family: 'KyoboHand'; */
    /* flex: 1; */
    /* float: center; */
    flex-direction: row;
    position: relative;
    margin: 0% 0% 5% 0%;
}

.result-container-right-row-second-date{
    /* font-family: 'KyoboHand'; */
    font-size: 15px;
    flex: 1;
    float: right;
    text-align: right;
    width: 100%;
    flex-direction: row;
    margin: 0% 5% 5% 5%;
}

.result-container-right-row-second-content-angry{
    font-size: 20px;
    float: left;
    flex: 1;
    direction: row;
    background-color: #F1B8B8;
    width: 100%;
    height: 300px;
    margin: 0% 0% 5% 0%;
}
.result-container-right-row-second-content-angry-font{
    font-family: 'HSGyoulnoonkot';
    font-size: 20px;
    float: left;
    flex: 1;
    direction: row;
    margin: 5% 5% 5% 5%;
}

.result-container-right-row-second-content-happy{
    float: left;
    flex: 1;
    direction: row;
    background-color: #FAF4DF;
    width: 100%;
    height: 300px;
    margin: 0% 0% 5% 0%;
}

.result-container-right-row-second-content-happy-font{
    font-family: 'KyoboHand';
    font-size: 20px;
    float: left;
    flex: 1;
    direction: row;
    margin: 5% 5% 5% 5%;
}

.result-container-right-row-second-content-normal{
    font-size: 20px;
    float: left;
    flex: 1;
    direction: row;
    background-color: #C6E4E1;
    width: 100%;
    height: 300px;
    margin: 0% 0% 5% 0%;
}

.result-container-right-row-second-content-normal-font{
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 20px;
    float: left;
    flex: 1;
    direction: row;
    margin: 5% 5% 5% 5%;
}

.result-container-right-row-second-content-sad{
    font-size: 20px;
    float: left;
    flex: 1;
    direction: row;
    background-color: #D7D7D7;
    width: 100%;
    height: 300px;
    margin: 0% 0% 5% 0%;
}

.result-container-right-row-second-content-sad-font{
    font-family: 'UhBeeann';
    font-size: 29px;

    float: left;
    flex: 1;
    direction: row;
    margin: 5% 5% 5% 5%;
}

.result-container-right-row-second-update-button{
    font-size: 18px;
    flex: 1;
    float: bottom;
    flex-direction: row;
    margin: 0% 0% 0% 0%;
}

.result-update-button{
    background-color: #797979;
    color: #fff;
    border: 0;
    float: right;
    font-size: 15px;
    font-weight: 200;
    padding: 0.5em 1.25em;
    border-radius: 0.5em;
    margin: 0% 2% 3% 2%;
    z-index: 999;
    position: relative;
    gap: 0.5em;
    box-shadow:
    0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
    0px 4px 5.3px rgba(0, 0, 0, 0.028),
    0px 7.5px 10px rgba(0, 0, 0, 0.035),
    0px 13.4px 17.9px rgba(0, 0, 0, 0.042),
    0px 25.1px 33.4px rgba(0, 0, 0, 0.05),
    0px 60px 80px rgba(0, 0, 0, 0.07);
}

.result-button{
    background-color: #797979;
    color: #fff;
    border: 0;
    float: center;
    font-size: 1.5rem;
    font-weight: 200;
    padding: 0.5em 1.25em;
    border-radius: 0.5em;
    margin: 0% 2% 3% 2%;
    z-index: 999;
    /* position: relative; */
    gap: 0.5em;
    height: auto;
    width: auto;
}

.result-container-right-row-thrid{
    font-size: 17px;
    float: center;
    flex-direction: row;
    margin: 0% 0% 0% 0%;
}

.result-container-right-row-thrid-select{
    /* font-family: 'KyoboHand'; */
    font-size: 17px;
    float: center;
    flex-direction: row;
    padding: 2%;
    width: 100%;
    margin: 0% 0% 1% 0%;
}

.result-container-right-row-thrid-select-button{
    font-size: 20px;
    float: center;
    direction: column;
    width: 100%;
    margin: 0% 0% 0% 0%;
}

/* CHATBOT 화면 */
.chatbot-home {

    background-color: #F4C8C5;
    width: 100%;
    height: 1080px;

}

.chatbot-home-header {
    padding: 1.6% 0 2% 0;
    background-color: #F4C8C5;
}

.chatbot-home-header .chatbot-header-link {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: italic;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chatbot-home-header p {
    /* font-family: 'Noto Sans KR'; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #fff;
    margin: 0;
    padding: 0% 1.2% 0% 0%;
}
.chatbot-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chatbot-container {
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;

    width: 80%;
    height: 700px;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

.chatbot-main {

}


/* 영화 추천 */
.recommend-home {
    background-color: #E6808E;
    width: 100%;
    height: 1080px;
}

.recommend-home-header {
    padding: 1.6% 0 2% 0;
    background-color: #E6808E;
}

.recommend-home-header .recommend-header-link {
    /* font-family: 'Poppins'; */
    font-family: 'KyoboHand';
    font-style: italic;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recommend-home-header p {
    /* font-family: 'Noto Sans KR'; */
    font-family: 'KyoboHand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #fff;
    margin: 0;
    padding: 0% 1.2% 0% 0%;
}

.recommend-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E6808E;
}

.recommend-container {
    box-sizing: border-box;
    border: 1px dashed #888787;
    background-color: #F9F9F9;
    width: 80%;
    height: 900px;
    border-radius: 20px;
    padding: 8% 0% 10% 0;
    margin: 0% 0% 8% 0%;
}

.recommend-header-container {
    margin: 0%;
    padding: 0%;
}

.recommend-header-title {
    text-align: left;
    padding : 0% 0% 0% 10%;
}

.recommend-header-desciption {
    text-align: left;
    padding : 0% 0% 0% 10%;
}

/* movies */
.movies {
    scale: 90%;
    display: flex;
    padding: 8px 18px;
}
.movies .movie {
    padding: 10px;
    cursor: pointer;
}
.movies .movie .poster {
    width: 100%;
    margin-bottom: 6px;
    border-radius: 4px;
}
.movies .movie .poster.active {
    opacity: 0;
}
.movies .movie .title {
    color: #525661;
    margin-bottom: 4px;
    font-size: 16px;
}
.movies .movie .info {
    font-size: 11px;
    opacity: 0.8;
}
.movies .movie .desc {
    display: none;
}

/* movie - detail */
.detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 37px 30px 30px 255px;
    display: none;
}
.detail::before {
    content: "";
    background: #fff;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 0;
    -webkit-transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
    transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.detail .close {
    position: absolute;
    top: 21px;
    right: 22px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    border: 6px solid #FFF;
    box-sizing: content-box;
    z-index: 10;
}
.detail .poster {
    position: absolute;
    z-index: 2;
    top: -10%;
    left: -6%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    transition: all 0.5s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}

.detail .title,
.detail .info,
.detail .desc,
.detail .play,
.detail .close {
    transform: translateX(-50px);
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.detail .close {
    transform: translateX(10px);
}
.detail .title {
    font-size: 35px;
    font-weight: 300;
    color: #525661;
    margin-bottom: 5px;
}
.detail .info {
    font-size: 11px;
    opacity: 0;
    margin-left: 2px;
}
.detail .desc {
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.6;
}
.detail .play {
    background: -webkit-linear-gradient(0deg, #E4761F, #FF8B32);
    background: linear-gradient(90deg, #E4761F, #FF8B32);
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
    padding: 8px 17px;
    margin: 30px 0 0 -2px;
    text-transform: uppercase;
    z-index: 10;
    outline: none !important;
    cursor: pointer;
    opacity: 0;
}
.detail .play svg {
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 3px;
}

.detail.ready::before {
    opacity: 1;
}
.detail.ready .info {
    opacity: 0.8;
}
.detail.ready .poster {
    opacity: 1;
    transition-duration: 0.5s;
}
.detail.ready .title,
.detail.ready .info,
.detail.ready .desc,
.detail.ready .play,
.detail.ready .close {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.5s;
}
.detail.ready .title {
    transition-delay: 0.2s;
}
.detail.ready .info {
    transition-delay: 0.3s;
}
.detail.ready .desc {
    transition-delay: 0.4s;
}
.detail.ready .play {
    transition-delay: 0.5s;
}

.the-most {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 50vw;
    max-width: 200px;
    padding: 10px;
}
.the-most img {
    max-width: 100%;
}