$main-color: #aa5b42;
$sub-color: #f3c5b6;
$login-color: #f4e7e3;
$dashboard-color: #fffcfb;
$dashboard-icon-color: #d6a291;
$step-color: #ebcfc6;
$dark-step-color: #cea193;
$gray-color: #c4c4c4;
$dark-gray-color: #686868;